{% extends 'base.html.twig' %}

{% block body %}
<h1>Page introuvable</h1>

    <p>
        <p>La page que vous recherchez n'existe pas.</p>
        <p><a href="{{ path('homepage') }}">Revenir la page d'accueil</a>.</p>
    </p>
{% endblock %}