<h1>Réinitialisation de mot de passe de votre compte sur mon-projet</h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour votre demande de réinitialisation de mot de passe de votre compte sur mon-projet, cliquez sur le lien ci-dessous.</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Bien cordialement</p>