<h1>Activation de votre compte sur mon-projet</h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour activer votre compte sur mon-projet, cliquez sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Lien</a></p>
{{ token }}
<p>Bien cordialement</p>